In [3]:
import data
# data.load_data()

In [11]:
sql='''
CREATE TABLE IF NOT EXISTS youbike (
   _id Serial Primary Key,
   sna VARCHAR(20) NOT NULL,
   sarea VARCHAR(20),
   ar VARCHAR(20),
   mday timestamp,
   updateTime timestamp,
   total SMALLINT,
   rent_bikes SMALLINT,
   return_bikes SMALLINT,
   lat REAL,
   lng REAL,
   act boolean
);
'''

In [23]:
import psycopg2
conn = psycopg2.connect("postgresql://tvdi_vf7z_user:JCgL4deGUYueFydNQFkCViaj3DFeYZNC@dpg-cpscsm2j1k6c738l6m50-a.singapore-postgres.render.com/tvdi_vf7z")
with conn: #'with' conn會自動commit(),手動close
    with conn.cursor() as cursor: # 'as',cursor會自動close()
        sql='''
            CREATE TABLE IF NOT EXISTS youbike (
            _id Serial Primary Key,
            sna VARCHAR(50) NOT NULL,
            sarea VARCHAR(50),
            ar VARCHAR(100),
            mday timestamp,
            updateTime timestamp,
            total SMALLINT,
            rent_bikes SMALLINT,
            return_bikes SMALLINT,
            lat REAL,
            lng REAL,
            act boolean
            );
            '''
        cursor.execute(sql)
    
conn.close()

In [15]:
import data
all_data:list[dict] = data.load_data()

In [24]:
conn = psycopg2.connect("postgresql://tvdi_vf7z_user:JCgL4deGUYueFydNQFkCViaj3DFeYZNC@dpg-cpscsm2j1k6c738l6m50-a.singapore-postgres.render.com/tvdi_vf7z")
with conn: 
    with conn.cursor() as cursor: 
        insert_sql='''
        INSERT INTO youbike(sna,sarea,ar,mday,updatetime,total,rent_bikes,return_bikes,lat,lng,act)
        VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
        '''
        for site in all_data:
            cursor.execute(insert_sql,(site['sna'],
                                       site['sarea'],
                                       site['ar'],
                                       site['mday'],
                                       site['updateTime'],
                                       site['total'],
                                       site['rent_bikes'],
                                       site['retuen_bikes'],
                                       site['lat'],
                                       site['lng'],
                                       site['act']
                                       ))

In [ ]:
for site in all_data:
    print(site)